<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change Password</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <center> <div   id="withdCon">
    <form action="/UpdatedPassword" method="post" >
        <input type="text" id="cpasswd" name="cpasswd"  placeholder="Enter new Password" required><br>
        <button type="submit" class="button" id="btn1"><span>Change Password</span></button><br>
    </form>
       
</div></center>
</body>
</html>
<!-- D:\Advance java Training\face_three_javaScript\Banking_System\views\Withdraw.ejs -->