<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./StyleOption.css">
</head>
<body>
  
    <div class="container">
        <h1>Choose Your Option.</h1>
        <div class="box" >
            <form action="/BalEnq" method="post" >
                <button type="submit" class="button"><span>Balance Enquery</span></button><br>
            </form>
            <form action="/Withdraw" method="post" >
                <button type="submit" class="button"><span>Withdrwal</span></button><br>
            </form>
            <form action="/Deposite" method="post" >
                <button type="submit" class="button"><span>Deposite </span></button><br>
            </form>
            <form action="/cpasswd" method="post" >
                <button type="submit" class="button"><span>Change Password</span></button><br>
            </form>
            <form action="/exit" method="post" >
                <button type="submit" class="button"><span>Exit</span></button><br>
            </form>
        </form>
        </div>
    </div>

</body>
</html>