<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
  
    <div class="container">
        <h1>Login</h1>
        <div class="box" >
            <form action="/login" method="post" >
            <label for="acc_id">Account ID</label>
            <input type="text" id="acc_id" name="acc_id" placeholder="Enter your Account ID" required><br>
            <label for="acc_id">Password</label>
            <input type="text" id="passwd" name="passwd" placeholder="Enter Password" required><br>
            <button type="submit" class="button"><span>Submit</span></button>
        </form>
        </div>
    </div>

</body>
</html>